<p>datatype works!</p>
<div>
    <!--Interpolation-->
    name:{{name}}<br/>
    age:{{age}}<br/>
    hobbies:{{hobbies}}<br>
    marks:{{marks}}<br>
    boolean:{{Istrue}}<br>
    tuplevel:{{tuplevel}} <br>
    dynamicValue:{{dynamicvalue}}<br>
    Object:
    FatherName:{{student.fathername}}
    City:{{student.city}}<br>
    json:{{student| json}}<br>

    <img src="assets/images/TomandJerry.png" alt="tom"/>
    <hr/>
    <img src={{picture}} alt="ball"/>
    <hr/>
    <h2>Property Binding</h2>
    <img [src]=picture alt="ball" />
</div>